:root{
    --bg:#0A0A0B;
    --white:#fff;
    --blak:#3D3D3D;
    --red:#DC0112;
    --blue:#5090DB;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    max-width: 380px;
    margin: 0 auto;
}
body{
    background-color:var(--bg);
}
/* navbar style */
.ul-nav{
    background-color: var(--bg);
}
#button-nav{
    background-color:var(--white);
}
.navbar-brand{
    width: 80px;
}
#ul-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-call{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.btn-red{
    width: 159px;
    height: 58px;
    border-radius: 18px;
    color: var(--white);
    background-color: transparent;
    border:1px solid var(--red);
    transition: all 1s;
}
.btn-red:hover{
    background: var(--red);
}

/* end */
/* mster */
.master{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    align-items: center;
}
span{
    color: var(--red);
}
p{
    color: var(--white);
    text-align: center;
}.icon-1,.icon-2{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.icon-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-1 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-about img{
    width: 80px;
}
.left{
    margin-left: -20px;
}
/* end */

/* itmes */
.btn-red2{
    width: 250px;
    height: 58px;
    border-radius: 18px;
    color: var(--white);
    background-color: transparent;
    border:1px solid var(--red);
    transition: all 1s;
}
.btn-red2:hover{
    background: var(--red);
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid var(--white);
    border-radius:40px ;
    margin-top: 100px;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-text-if-button{
    margin-bottom: 80px;
}
h1,h2,h3,h4,h5{
    color: var(--white);
    margin-top: 40px;
}
.text-did{
    margin-top: 50px;
}
.img-did img{
    width: 380px;
    margin-right: 10px;
    margin-top: 50px;
}
.logo div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}
.befor{
    margin-top: 100px;
}

/* end */
/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.ul-footer li{
    color: var(--white);
    margin-top: 10px;
}
.ul-footer{
    list-style: none;
}
h6{
    color: gray;
}
.img-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nav2{
    display: none;
}
.icon-about-2{
    display: none;
}
h2,h4,h6{
    text-align: center;
}
.btn-call2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.img-2{
    display: none;
}
.logo-2{
    display: none;
}
hr{
    border: 1px solid gray;
    width: 470px;
}
.h4-2{
    display: none;
}
.h4-1{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* call.html */
.img-call img{
    width: 460px;
    margin-right: 10px;
}
.call{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.logo-call{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
@media only screen and (min-width:900px) {
    main{
        max-width: 1200px;
        margin: 0 auto;
    }
    #nav1{
        display: none;
    }
    #nav2{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #nav2 li a{
        color: var(--white);
        margin-left: 50px;
    }
    #it-3,#it-2,#it-1{
        position: relative;
        transition: all 1s;
    }
    #it-3:hover:before{
        content: "";
        position: absolute;
        border: 0.1px solid var(--red);
        display: flex;
        flex-direction: row;
        width: 40px;
        bottom: 0;
        left: 50px;
    }
    #it-2:hover:before{
        content: "";
        position: absolute;
        border: 0.1px solid var(--red);
        display: flex;
        flex-direction: row;
        width: 40px;
        bottom: 0;
        left: 70px;
    }
    #it-1:hover:before{
        content: "";
        position: absolute;
        border: 0.1px solid var(--red);
        display: flex;
        flex-direction: row;
        width: 40px;
        bottom: 0;
        left: 70px;
    }
    #nav2 ul{
        display: flex;
        justify-content:center;
        align-items: center;
        width: 100%;
    }
    .btn-call{
        margin-top: 10px;
    }
    .icon-about{
        display: none;
    }
    .icon-about-2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 200px;
        
    }
    .master .img img{
        width: 500px;
    }
    .items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .item{
        width: 40%;
    }
    .btn-call2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .img-2{
        display: flex;
    }
    .img-1{
        display: none;
    }
    .did-my{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .logo{
        display: none;
    }
    .logo-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .national{
        margin-top: -140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .h4-1{
        display: none;
    }
    .h4-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .h4-2 img{
        margin-top: 10px;
    }
    .about p{
        color: gray;
        margin-top: 20px;
    }
    .img-call img{
        width: 700px;
    }

    .call{
        display: flex;
        flex-direction: row-reverse;
        width: 1400px;
        justify-content: space-between;
        align-items: center;
    }
    .text-call{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .logo-call{
        display: flex;
        justify-content: space-between;
        width: 200px;
        align-items: center;   
    }
    
}